@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Roboto&family=Roboto+Mono&family=Ubuntu:wght@300;400;500;700&display=swap');

/*
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bitter:ital,wght@0,400;0,500;0,700;1,300&family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Crafty+Girls&family=Lato&display=swap');
*/

:root {
    --site-header-height: 100px;

    /** Blue (Red) **/
    --color-primary: #03b;
    --color-primary-light: #33f;
    --color-primary-ultra-light: #ccf;
    --color-primary-dark: #009;
    --color-primary-ultra-dark: #006;

    --color-splash: #b00;
    --color-splash-light: #f33;
    --color-splash-ultra-light: #fcc;
    --color-splash-dark: #900;
    --color-splash-ultra-dark: #600;


    /** Green (Red) **/
    /*
    --color-primary: #0b3;
    --color-primary-light: #3f3;
    --color-primary-ultra-light: #cfc;
    --color-primary-dark: #090;
    --color-primary-ultra-dark: #060;

    --color-splash: #c30;
    --color-splash-light: #f33;
    --color-splash-ultra-light: #fcc;
    --color-splash-dark: #900;
    --color-splash-ultra-dark: #600;

    */

    /** Red (Blue) **/
    /*
    --color-primary: #b00;
    --color-primary-light: #f33;
    --color-primary-ultra-light: #fcc;
    --color-primary-dark: #900;
    --color-primary-ultra-dark: #600;

    --color-splash: #03b;
    --color-splash-light: #33f;
    --color-splash-ultra-light: #ccf;
    --color-splash-dark: #009;
    --color-splash-ultra-dark: #006;
    */

    --color-almost-black: #030303;
    --color-almost-white: #f3f3f3;

    --color-gray-dark: #333;
    --color-gray-ultra-dark: #0f0f0f;
    --color-gray: #999;
    --color-gray-light: #c9c9c9;
    --color-gray-ultra-light: #e9e9e9;

    --color-link: #03c;
    --color-link-hover: #03c;
    --color-link-visited: #609;


    /** All business. */
    --font-primary: Roboto, Ubuntu, Verdana, Calbri, sans-serif;
    --font-splash: Ubuntu, Verdana, Calbri, sans-serif;
    --font-headline: 'Big Shoulders Display', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    
    /** Dystopia */
    /*
    --font-primary: 'Bitter', serif;
    --font-splash: 'Architects Daughter', sans-serif;
    --font-headline: 'Stalinist One', sans-serif;
    --font-mono: 'Roboto Mono', monospace;
    */

    /** Charm */
    /*
    --font-primary: 'Lato', sans-serif;
    --font-headline: 'Bonbon', cursive;
    --font-splash: 'Crafty Girls', cursive;
    --font-mono: 'Roboto Mono', monospace;
    */

    /** 
      * Icon style config. Example source images are 512x512. Square icon images are
      * recommended. Replace images with your own or follow attribution guidance in
      * /bff/static/images/examples/README.md.
      *
      * Sizes:
      * * xsm : exra-small
      * * sm  : small
      * * med : medium
      * * lg  : large
      */

    --icon-width-xsm : 24px;
    --icon-height-xsm : 24px;
    --icon-frame-width-xsm : 2px;
    --icon-frame-height-xsm : 2px;

    --icon-width-sm : 32px;
    --icon-height-sm : 32px;
    --icon-frame-width-sm : 4px;
    --icon-frame-height-sm : 4px;

    --icon-width-med : 48px;
    --icon-height-med: 48px;
    --icon-frame-width-med : 6px;
    --icon-frame-height-med: 6px;

    --icon-width-lg : 64px;
    --icon-height-lg : 64px;
    --icon-frame-width-lg : 8px;
    --icon-frame-height-lg : 8px;

    --icon-width-xlg : 128px;
    --icon-height-xlg : 128px;
    --icon-frame-width-xlg : 8px;
    --icon-frame-height-xlg : 8px;

    --icon-width-xxlg : 256px;
    --icon-height-xxlg : 256px;
    --icon-frame-width-xxlg : 8px;
    --icon-frame-height-xxlg : 8px;

    --icon-width-xxxlg : 512px;
    --icon-height-xxxlg : 512px;
    --icon-frame-width-xxxlg : 8px;
    --icon-frame-height-xxxlg : 8px;

    --icon-background-image-blend-mode: normal;
    --icon-background-image-blend-mode-hover: color;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0;
    color: var(--color-almost-black);
    background-color: var(--color-almost-white);
    font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
    margin: 0;
}

h1 {
    color: var(--color-primary);
    text-shadow: .1em .1em .2em var(--color-gray);
    letter-spacing: .4em
}

h2 {
    letter-spacing: .1em;
    text-shadow: .1em .1em .1em var(--color-gray-light);
}

h2, h3, h4, h5, h6 {
    color: var(--color-gray-dark);
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

a:visited {
    color: var(--color-link-visited);
}

a.not_visited:visited, .not_visited a:visited {
    color: var(--color-link);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

figure {
    margin: 0;
    padding: 0;
}

main {
    min-width: 320px;
    max-width: 1560px;

    min-height: calc(100vh - var(--site-header-height));

    margin: 0 auto;
}

#main_wrapper>section {
    padding: 1em .5em 1.5em .5em;
}

footer {
    padding: .5em;

    background-color: var(--color-gray);
    color: var(--color-gray-dark);

    font-size: .9em;
}

footer h4 {
    color: var(--color-almost-white);

    font-size: 1em;
    font-weight: 300;
    font-family: var(--font-splash)
}

#footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        "social footer_nav partners disclaimer"
        "copyright copyright copyright copyright";
}

#footer_copyright {
    grid-area: copyright;
    font-style: normal;
    font-size: .8em;

    text-align: center;

    padding-top: 1em;
    padding-bottom: .5em;
}

#footer_social {
    grid-area: social;
}

#footer_disclaimer {
    grid-area: disclaimer;
}

#footer_partners {
    grid-area: partners;
}

#footer_nav {
    grid-area: footer_nav;
}


#site_header {
    height: var(--site-header-height);
    color: var(--color-almost-white);
    background-color: var(--color-primary);

    background: linear-gradient(9deg, var(--color-primary) 34%, var(--color-primary-dark) 93%);
}

#site_header_grid {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1.8fr .2fr;
    gap: 0px 0px;
    grid-template-areas:
        "logo site_header_nav"
        "tagline site_header_nav";
}

#site_header_identity {
    grid-area: logo;
    padding: .5em 0 0 .5em;
}

#site_header_tagline {
    grid-area: tagline;
    padding-left: .5em;
    text-shadow: 1px 1px 3px var(--color-primary-light);
}

#site_header_nav {
    grid-area: site_header_nav;
    text-align: right;
    padding-top: 1em;
}

#site_header_nav>ul>li {
    padding: 0 .5em;
    border-right: 1px solid var(--color-gray-light);
}

#site_header_nav>ul>li:last-child {
    padding: 0 0 0 .5em;
    border-right: none;
}

#site_header_nav a, #site_header_nav a:visited {
    color: var(--color-almost-white);
}

#main_nav {
    background-color: var(--color-gray);
    box-shadow: inset var(--color-primary-ultra-light) 0 -2px 2px;
}

#main_nav>ul>li {
    padding: 0 1em;
    margin: .5em 0;
    border-right: 2px solid var(--color-gray-light);
}

#main_nav>ul>li:last-child {
    border-right: none;
}

main section p {
    text-align: justify;
}

#page_header {
    background-color: var(--color-primary-ultra-light);
    padding: .5em .5em 1em .5ex;
    background: linear-gradient(173deg, var(--color-primary-ultra-light) 55%, var(--color-almost-white) 93%);
}

#content_introduction {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 150%;
    padding-bottom: 1.1em;

    text-shadow: var(--color-gray-light) 1px 1px 3px;

    text-align: justify;
    text-justify: inter-character;
    word-spacing: .2em;
}

#content_introduction:first-line {
    font-weight: 400;
}

#content_introduction strong {
    font-weight: 700;
}

#content_introduction:first-line strong {
    font-weight: 400;
}

#page_aside {
    position: relative;
    width: 25%;
    padding: 1em;
    margin: 1em;
    float: right;
    background-color: var(--color-splash-light);
    background: linear-gradient(165deg, var(--color-primary-light) 25%, var(--color-gray-ultra-light) 100%);
    clear: none;
    box-shadow: 2px 2px 4px var(--color-gray), -2px -2px 4px var(--color-gray-light);
}

/** 
 Background image opacity hack.
 */
#page_aside::before {
    content: "";
    background-image: url('../images/paper-clip.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

#page_aside_wrapper {
    position: relative;
    color: var(--color-almost-white);

    font-family: var(--font-splash);
    font-size: 2em;
    font-style: italic;

    text-shadow: var(--color-primary-light) .1em .1em .5em;
}

@media screen and (max-width: 640px) {
    #page_aside {
        display: none;
    }
}

ul.flex-list-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.flex-list-row>li {
    width: max-content;
}

a.circle-button {
    display: block;
    border: 0;
    border-radius: 50%;
    width: 2em;
    height: 2em;

    margin-right: .5em;
    text-align: center;
}

.grid-container-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
}

.grid-container-3-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
}


/** Overlays */
#lightbox_sticker {
    display: none;
    position: sticky;
    top: 0px;
    z-index: 999997;
    height: 0;
}

.boring-button {
    border: 1px dotted var(--color-gray-light);
    color: var(--color-gray-light);
}

.boring-button:hover {
    color: #fff;
    background-color: var(--color-splash);
    text-decoration: none;
    cursor: pointer;
}

.blurry_face {
    color: transparent;
    text-shadow: 0 0 3px var(--color-almost-black);
}

.blurry_face h1 {
    color: transparent;
    text-shadow: 0 0 5px var(--color-primary);
}

.blurry_face h2 {
    color: transparent;
    text-shadow: 0 0 4px var(--color-gray-dark);
}

.blurry_face h3, .blurry_face h4, .blurry_face h5, .blurry_face h6 {
    color: transparent;
    text-shadow: 0 0 3px var(--color-gray-dark);    
}

.blurry_face img {
    blur(4px);
}

/** 
 *  LIGHTBOX: Activate lightbox with classes on body tag. 
 *  Email lightbox: class="active_lightbox email_signup";
 */
body.active_lightbox #lightbox_sticker {
    display: block;
}

/* Hide all scrollbars on body when lightbox is active. */
body.active_lightbox {
    overflow-x: hidden;
    overflow-y: hidden; 
}

body.active_lightbox.email_signup #lightbox_content_email_signup {
    display: block;
}

#lightbox_background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999998;
    background-color: var(--color-gray-light);
    background-image: linear-gradient(transparent, var(--color-almost-white));
    opacity: 75%;
}

#lightbox_content_email_signup {
    display: none;
    position:absolute;
    z-index: 999999;
    top: calc(50vh - 85px);
    left: calc(50vw - 170px);
    width: 340px;
    max-height: 340px;
    opacity: 100%;
    overflow: hidden;
    padding: 1em;

    box-shadow: 2px 2px 5px var(--color-almost-black);

    /* Override .blurry_face. */
    color: var(--color-almost-black);
    text-shadow: none;    
    background-color: var(--color-almost-white);
}

#lightbox_content_email_signup input {
    border: 2px solid var(--color-primary);
    box-shadow: 1px 1px 3px var(--color-gray);
}

#lightbox_content_email_signup>header {
    font-family: var(--font-headline);
    font-size: 1.2em;
}

#lightbox_content_email_signup_close_button {
    display: block;
    width: 1em;
    line-height: 1em;
    padding: 0 0 3px 0;
}


.icon_xsm, .icon_sm, .icon_med, .icon_lg, .icon_xlg, .icon_xxlg, .icon_xxxlg {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--color-primary);
    background-blend-mode: var(--icon-background-image-blend-mode);
}

.icon_xsm:hover, .icon_sm:hover, .icon_med:hover, .icon_lg:hover, .icon_xlg:hover, .icon_xxlg:hover, .icon_xxxlg:hover {
    background-color: var(--color-primary-light);
    cursor: pointer;
    background-blend-mode: var(--icon-background-image-blend-mode-hover);
}

.icon_xsm {
    display: inline-block;
    width: var(--icon-width-xsm);
    height: var(--icon-height-xsm);

    background-size: calc(var(--icon-width-xsm) - var(--icon-frame-width-xsm)) calc(var(--icon-height-xsm) - var(--icon-frame-height-xsm));
}

.icon_sm {
    display: inline-block;
    width: var(--icon-width-sm);
    height: var(--icon-height-sm);

    background-size: calc(var(--icon-width-sm) - var(--icon-frame-width-sm)) calc(var(--icon-height-sm) - var(--icon-frame-height-sm));
}

.icon_med {
    display: inline-block;
    width: var(--icon-width-med);
    height: var(--icon-height-med);

    background-size: calc(var(--icon-width-med) - var(--icon-frame-width-med)) calc(var(--icon-height-med) - var(--icon-frame-height-med));
}

.icon_lg {
    display: inline-block;
    width: var(--icon-width-lg);
    height: var(--icon-height-lg);

    background-size: calc(var(--icon-width-lg) - var(--icon-frame-width-lg)) calc(var(--icon-height-lg) - var(--icon-frame-height-lg));    
}

.icon_xlg {
    display: inline-block;
    width: var(--icon-width-xlg);
    height: var(--icon-height-xlg);

    background-size: calc(var(--icon-width-xlg) - var(--icon-frame-width-xlg)) calc(var(--icon-height-xlg) - var(--icon-frame-height-xlg));    
}

.icon_xxlg {
    display: inline-block;
    width: var(--icon-width-xxlg);
    height: var(--icon-height-xxlg);

    background-size: calc(var(--icon-width-xxlg) - var(--icon-frame-width-xxlg)) calc(var(--icon-height-xxlg) - var(--icon-frame-height-xxlg));    
}


.icon_avatar {
    background-image: url('/static/images/examples/icons/avatar.png');
}

.icon_avatar:hover {
}


.icon_cancel {
    background-image: url('/static/images/examples/icons/cancel.png');
}

.icon_cancel:hover {
}


.icon_chat {
    background-image: url('/static/images/examples/icons/chat.png');
}

.icon_chat:hover {
}


.icon_copy {
    background-image: url('/static/images/examples/icons/copy.png');
}

.icon_copy:hover {}


.icon_edit {
    background-image: url('/static/images/examples/icons/edit.png');
}

.icon_edit:hover {}


.icon_folder {
    background-image: url('/static/images/examples/icons/folder.png');
}

.icon_folder:hover {}


.icon_garbage {
    background-image: url('/static/images/examples/icons/garbage.png');
}

.icon_garbage:hover {}


.icon_heart {
    background-image: url('/static/images/examples/icons/heart.png');
}

.icon_heart:hover {}


.icon_house {
    background-image: url('/static/images/examples/icons/house.png');
}

.icon_house:hover {}


.icon_link {
    background-image: url('/static/images/examples/icons/link.png');
}

.icon_link:hover {}


.icon_logout {
    background-image: url('/static/images/examples/icons/logout.png');
}

.icon_logout:hover {}


.icon_share {
    background-image: url('/static/images/examples/icons/share.png');
}

.icon_share:hover {}


.icon_shopping_cart {
    background-image: url('/static/images/examples/icons/shopping-cart.png');
}

.icon_shopping_cart:hover {}


.icon_phone_call {
    background-image: url('/static/images/examples/icons/phone-call.png');
}

.icon_phone_call:hover {}






