<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title | "No Title Given" }}</title>
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
    <header>
        <div id="header_grid" class="outer_content_wrapper">
            <div id="identity">
                <a href="url_for('home')"><img src="{{ url_for('static', filename='/images/logo.png') }}" width="64" height="64" border="0" alt="Logo" /></a>
            </div>
            <div id="tagline">
                Some meaningful text here.
            </div>
            <nav id="page_header_nav">
                <ul class="horizontal-list">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <nav>
        <ul id="main_nav" class="horizontal-list">
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
        </ul>
    </nav>
    <main>
        <div id="body_grid" class="outer_content_wrapper">
            <header id="page_header">
            {% block page_header %}
                <h1 id="page_headline">{{ page_headline }}</h1>
            {% endblock %}
            </header>

            {% if show_page_aside %}
                <aside id="page_aside">
                {% block page_aside %}
                    &lquote; Pithy quote goes here. &rquote;
                {% endblock %}
                </aside>
            {% endif %}
            <section>
                <header>
                    <h2>Section 1</h2>
                </header>
                <p></p>
                <p></p>
            </section>
            <section>
                <header>
                    <h2>Section 2</h2>
                </header>
                <p></p>
                <p></p>
            </section>
            <section>
                <header>
                    <h2>Section 3</h2>
                </header>
                <p></p>
                <p></p>
            </section>
        </div>
    </main>
    <footer>
        <div id="footer_grid" class="outer_content_wrapper">
            <section class="footer_column" id="footer_column_1">
                <header>
                    <h3>Footer Navigation</h3>
                </header>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li><a href="{{ url_for('products') }}">Products</a></li>
                    </ul>
                </nav>
            </section>
            <section class="footer_column" id="footer_column_2">
                <header>
                    <h3>Partners Section</h3>
                </header>
                <ul>
                    <li>F</li>
                    <li>T</li>
                    <li>Y</li>
                </ul>
            </section>
            <section class="footer_column" id="footer_column_3">
                <header>
                    <h3>Section</h3>
                </header>
                <ul>
                    <li>F</li>
                    <li>T</li>
                    <li>Y</li>
                </ul>
            </section>
            <section class="footer_column" id="footer_column_4">
                <header>
                    <h3>Disclaimer</h3>
                </header>
                <p>
                    Sometimes contact information or some legal stipulations get placed here.
                </p>
            </section>
            <address>
                &copy; 2021 David Cloutman
            </address>
        </div>
    </footer>
    </body>
</html>