<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
        <link rel="favicon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
    <header id="site_header">
        <div id="header_grid" class="outer_content_wrapper">
            <div id="site_header_identity">
                <a href="url_for('home')"><img src="{{ url_for('static', filename='/images/logo.png') }}" width="64" height="64" border="0" alt="Logo" /></a>
            </div>
            <div id="site_header_tagline">
                Some meaningful text here.
            </div>
            <nav id="site_header_nav">
                <ul class="flex-list-row">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <nav id="main_nav">
        <ul class="flex-list-row">
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
        </ul>
    </nav>
    <main>
        <div id="body_grid" class="outer_content_wrapper">
            <header id="page_header">
            {% block page_header %}
                <h1 id="page_headline">{{ page_headline }}</h1>
            {% endblock %}
            </header>

            {% if show_page_aside %}
                <aside id="page_aside">
                {% block page_aside %}
                    &lquote; Catchy quote goes here. &rquote;
                {% endblock %}
                </aside>
            {% endif %}
            <section>
                <header>
                    <h2>Text Section</h2>
                </header>
                <p>This is some <strong>hot blog post</strong>. You have to read it. You know you want to.</p>
                <p>There sure is <em>a lot of detail</em> here. Let's learn more. I could go on and on, but I won't.</p>
                <p>Wow, what a meaningful conclusion. That was great.</p>
            </section>
            <section>
                <header>
                    <h2>Section 2</h2>
                </header>
                <p></p>
                <p></p>
            </section>
            <section>
                <header>
                    <h2>Section 3</h2>
                </header>
                <p></p>
                <p></p>
            </section>
        </div>
    </main>
    <footer>
        <div id="footer_grid" class="outer_content_wrapper">
            <section class="footer_column" id="footer_social">
                <header>
                    <h4>Social Media</h4>
                </header>
                <ul class="flex-list-row">
                    <li><a href="#" class="circle-button" style="background-color: #4267B2;">F</a></li>
                    <li><a href="#" class="circle-button" style="background-color: #1DA1F2;">T</a></li>
                    <li><a href="#" class="circle-button" style="background-color: #405DE6;">I</a></li>
                </ul>
            </section>
            <section class="footer_column" id="footer_nav">
                <header>
                    <h4>Footer Navigation</h4>
                </header>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li><a href="{{ url_for('products') }}">Products</a></li>
                    </ul>
                </nav>
            </section>
            <section class="footer_column" id="footer_partners">
                <header>
                    <h4>Partners Section</h4>
                </header>
                <ul>
                    <li>F</li>
                    <li>T</li>
                    <li>Y</li>
                </ul>
            </section>
            <section class="footer_column" id="footer_disclaimer">
                <header>
                    <h4>Disclaimer Zone</h4>
                </header>
                <p>
                    Sometimes contact information or some legal stipulations get placed here.
                </p>
            </section>

            <address id="footer_copyright">
                &copy; 2021 David Cloutman
            </address>
        </div>
    </footer>
    </body>
</html>
