<div id="overlay_sticker" style="
    position: sticky;
    top: 0px;
    z-index: 999997;
    height: 0;
">
        <div id="overlay_background" style="
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999998;
    background-color: var(--color-gray-light);
    opacity: 75%;
">
    </div>
    <div id="overlay_content_email_signup" style="
    position:absolute;
    z-index: 999999;
    top: calc(50vh - 85px);
    left: calc(50vw - 170px);
    width: 340px;
    max-height: 340px;
    opacity: 100%;
    background-color: var(--color-almost-white);
    overflow: hidden;
    padding: 1em;
">
        <header style="
    font-family: var(--font-headline);
    font-size: 1.2em;
">
            Join Our Mailing List
        </header>
    <p>Stay up to date with Organization by signing up for Organization's e-mail updates.</p>
        <form>
                <label>Email<input type="text" name="email_signup_modal_email"> <input type="submit" value="Submit">
        
    </label></form></div>
</div>