<div id="lightbox_sticky_wrapper">
    <div id="lightbox_background">
    </div>
    <div id="lightbox_content_email_signup">
        <header>
            <div class="grid-container-2-1">
                <div>
                    Join Our Mailing List
                </div>
                <div style="justify-self: end;">
                    <a id="lightbox_content_email_signup_close_button" style="" class="boring-button">
                        &#x1F5D9;
                    </a>
                </div>
            </div>
        </header>
        <p>Stay up to date with Organization by signing up for Organization's e-mail updates.</p>
        <form id="email_lightbox_form">
            <div class="grid-container-3-1">
                <div>
                    <label>Email</label>
                </div>
                <div>
                    <input type="text" name="email_signup_modal_email">
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
