<div id="overlay_sticker">
        <div id="overlay_background">
    </div>
    <div id="overlay_content_email_signup">
        <header>
            <div class="grid-container-2-1">
                <div>
                    Join Our Mailing List
                </div>
                <div style="justify-self: end;">
                    <a id="overlay_content_email_signup_close_button" style="" class="boring-button">
                        &#x1F5D9;
                    </a>
                </div>
            </div>
        </header>
    <p>Stay up to date with Organization by signing up for Organization's e-mail updates.</p>
        <form>
                <label>Email<input type="text" name="email_signup_modal_email"> <input type="submit" value="Submit">
        
    </label></form></div>
</div>
