{% extends "--base.jinja" %}
{% block page_title %}
    About Page Title in Template
{% endblock %}
{% block page_style %}
    #leadership_grid {
        margin: 1em;
    }

    #leadership_grid {
        text-align: justify;

        font-size: .8em;
    }

    #leadership_grid>figure {
        padding: 0 1em 0 1em;
        border-right: 1px solid var(--color-gray);
    }

    #leadership_grid>figure:last-child {
        border-right: none;
    }

    @media screen and (max-width: 680px) {
        #leadership_grid {
            display: block;
            border-width: 0 1px 0 1px;
            border-color: var(--color-gray);
            border-style: solid;
        }

        #leadership_grid>figure {
            border: none;
        }
    }

    @media screen and (min-width: 1080px) {
        #leadership_grid {
            width: 1000px;
            margin: 0 auto;
        }
    }

{% endblock %}
{%block page_headline %}
    About Us
{% endblock %}

{% block content %}
<section id="content_introduction">
    It takes a <strong>strong</strong> organization to make a public statement about itself. You introductory paragraph should go here. Everything seems just a litle more transparent as the content of a new page rises from the ash-heap of ignorance.
</section>
<section>
    <header>
        <h2>Our Leaders</h2>
    </header>
    <p>
        Let the public meet your leadership team. The widget below has space for photos and brief ~50-100 word biographies. Say something about them that makes your organization sound credible.
    </p>
    <div id="leadership_grid" class="grid-container-3-1">
        <figure class="grid-item-1">
            <div>
                <img src="{{ url_for('static', filename='images/examples/leader-portraits/leader-1.png') }}" border="0" style="width: 100%; height: auto" />
            </div>
            <caption>
                <strong>John Doe: Founder and CEO</strong> started his first business at the age of 8. He provides important leadership and vision to Organization. John  holds an MBA from Harvard. He is interested in wildlife and social causes.
            </caption>
        </figure>
        <figure class="grid-item-2">
            <div>
                <img src="{{ url_for('static', filename='images/examples/leader-portraits/leader-2.png') }}" border="0" style="width: 100%; height: auto" />
            </div>
            <caption>
                <strong>Joan Joost: Founder COO</strong> left her 20 year legal career to help found Organization because she believes in its mission. She is also a Certified Public Accountant and former Management Consultant. Her passions are business process, compliance, and competitive paint drying.
            </caption>
        </figure>
        <figure class="grid-item-3">
            <div>
                <img src="{{ url_for('static', filename='images/examples/leader-portraits/leader-3.png') }}" border="0" style="width: 100%; height: auto" />
            </div>
            <caption>
                <strong>Dale Dinglethorp: Chief Success Officer</strong> has very strong opinions about how much he likes you and wants you to succeed. Dale Holds a PhD in Organizational Psychology from Brand Name University. Dale has no known hobbies.
            </caption>
        </figure>
    </div>
</section>
<section>
    <header>
        <h2>Our Team</h2>
    </header>
    <p>We are happy, oh so happy. We love it here. We are a productive and coperative team. We have health insurance. <em>We love you.</em></p>
    <p>We have many impactful and informative things to say about us and Organization. As an employer, they are #1. They give us ping pong and beer once a month. The bathrooms are kept clean. There is a free parking structure at HQ. Smile.</p>
</section>
<section>
    <header>
        <h2>Advisors and Investors</h2>
    </header>
    <p>We know not where they are from. They are vauge in speech and can only be seen from certain angles.</p>
    <p>Tentacles dangle from the sky. They are beautiful.</p>
</section>
{% endblock %}