{% extends "--base.jinja" %}
{%block page_headline %}
    ADMIN: Emails
{% endblock %}
{% block content %}

<section>
    <ul>
    {% for email in all_emails %}
        <li>{{ email.email_address }}</li>
    {% endfor %}
    </ul>
</section>
{% endblock %}
