{% extends "--base.jinja" %}
{% block page_style %}
    .input_grid_container {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-template-rows: repeat(5);
    }

    .input_grid_container>div {
        padding: 0 .5em .2em 0;
    }

    .input_grid_container label {
        font-weight: bold;
        font-size: .8em;
    }

    .input_grid_container input, .input_grid_container select, .input_grid_container textarea {
        width: 40vw;
        max-width: 400px;
    }

    .input_grid_container textarea {
        height: 30vw;
        max-height: 200px;
    }

    @media screen and (max-width: 440px) {
        #page_content_grid {
            display: block;
        }

        .input_grid_container input, .input_grid_container select, .input_grid_container textarea {
            width: 250px;
        }

    }

    @media screen and (max-width: 480px) {
        .input_grid_container {
            display: block;
        }
    }
{% endblock %}
{% block content %}
<div id="page_content_grid" class="grid-container-2-1" style="padding-left: 1em;">
    <section>
        <header>
            <h2>Reach out to us</h2>
        </header>
        <p>
            <form id="page_send_message_form" src="{{ url_for('contact_process_form') }}" method="post">
                <div class="input_grid_container">
                    <div class="label">
                        <label for="">Name</label>
                    </div>
                    <div class="input">
                        <input type="text" value="" name="" />
                    </div>
                    <div class="label">
                        <label for="">Email</label>
                    </div>
                    <div class="input">
                        <input type="text" value="" name="" />
                    </div>
                    <div class="label">
                        <label for="">Phone</label>
                    </div>
                    <div class="input">
                        <input type="text" value="" name="" /><br>
                    </div>
                    <div class="label">
                        <label for="">Purpose</label>
                    </div>
                    <div class="input">
                        <input type="text" value="" name="" />
                    </div>
                    <div class="label">
                        <label for="">Message</label>
                    </div>
                    <div class="input">
                        <textarea></textarea>
                    </div>
                    <div>&#160;</div>
                    <div style="text-align: center;">
                        <button type="submit">Send</button>
                    </div>
                </div>

            </form>
        </p>
    </section>
    <section>
        <header>
            <h2>Locations</h2>
        </header>
        <p>
            <h3>Headquarters</h3>
            123 Fake St.<br />
            Anytown, XY 00000-0000
        </p>
    </section>
</div>
{% endblock %}