{% extends "--base.jinja" %}
{%block page_headline %}
    Site Template 2021
{% endblock %}
{% block content %}
<section id="content_introduction">
    Big <strong>bold</strong> words make a fresh impact. A broad overview <em>engages</em> your audience. Everything seems just a litle bigger as the content of a new page rises from the ash-heap of ignorance.
</section>
<section>
    <header>
        <h2>Greetings and Salutations</h2>
    </header>
    <p>This is <strong>propaganda</strong> that you <em>have</em> to read. You can't stop reading it. You know you want to keep reading it forever. If only you could. It is that incredible.</p>
    <p>There sure is <em>a lot of detail</em> here. Let's learn more. Details, factoids, and the unvarnished truth are all expounded upon, here. It could and go on and on and go on and on and go on and on and then go on some more and then go on and go on and on and go on and on, but it won't.</p>
    <p>Wow, what a powerful conclusion; impactful and relevant. Your life has new meaning thanks to this placeholder home page content. It was great content. You're glad you read it. You love it.</p>
</section>
{% endblock %}
