{% extends "--base.jinja" %}
{% block content %}
<section id="content_introduction">
    Icons make a difference to your user. Use them judiciously in your interface's tooling.
</section>
<section>
    <header>
        <h2>Small</h2>
    </header>
    <div>
        <div class="icon_sm icon_avatar"></div>
        <div class="icon_sm icon_cancel"></div>
        <div class="icon_sm icon_chat"></div>
        <div class="icon_sm icon_copy"></div>
        <div class="icon_sm icon_edit"></div>
        <div class="icon_sm icon_folder"></div>
        <div class="icon_sm icon_garbage"></div>
        <div class="icon_sm icon_heart"></div>
        <div class="icon_sm icon_house"></div>
        <div class="icon_sm icon_link"></div>
        <div class="icon_sm icon_logout"></div>
        <div class="icon_sm icon_share"></div>
        <div class="icon_sm icon_shopping_cart"></div>
        <div class="icon_sm icon_phone_call"></div>
    </div>
    <header>
        <h2>Medium</h2>
    </header>
    <div>
        <div class="icon_med icon_avatar"></div>
        <div class="icon_med icon_cancel"></div>
        <div class="icon_med icon_chat"></div>
        <div class="icon_med icon_copy"></div>
        <div class="icon_med icon_edit"></div>
        <div class="icon_med icon_folder"></div>
        <div class="icon_med icon_garbage"></div>
        <div class="icon_med icon_heart"></div>
        <div class="icon_med icon_house"></div>
        <div class="icon_med icon_link"></div>
        <div class="icon_med icon_logout"></div>
        <div class="icon_med icon_share"></div>
        <div class="icon_med icon_shopping_cart"></div>
        <div class="icon_med icon_phone_call"></div>
    </div>
    <header>
        <h2>Large</h2>
    </header>
    <div>
        <div class="icon_lg icon_avatar"></div>
        <div class="icon_lg icon_cancel"></div>
        <div class="icon_lg icon_chat"></div>
        <div class="icon_lg icon_copy"></div>
        <div class="icon_lg icon_edit"></div>
        <div class="icon_lg icon_folder"></div>
        <div class="icon_lg icon_garbage"></div>
        <div class="icon_lg icon_heart"></div>
        <div class="icon_lg icon_house"></div>
        <div class="icon_lg icon_link"></div>
        <div class="icon_lg icon_logout"></div>
        <div class="icon_lg icon_share"></div>
        <div class="icon_lg icon_shopping_cart"></div>
        <div class="icon_lg icon_phone_call"></div>
    </div>

    <p>There sure is <em>a lot of detail</em> here. Let's learn more. Details, factoids, and the unvarnished truth are all expounded upon, here. It could and go on and on and go on and on and go on and on and then go on some more and then go on and go on and on and go on and on, but it won't.</p>
    <p>Wow, what a powerful conclusion; impactful and relevant. Your life has new meaning thanks to this placeholder home page content. It was great content. You're glad you read it. You love it.</p>
</section>
{% endblock %}
